body
{
    background:url("../images/img1.jpg");
    background-size: cover;
    color:#fff;
}
.login
{
    margin-top: 100px;
}
.login .card{
    background-color: rgba(0,0,0,.6);
}
.login label{
    font-size:16px;
    color: #ccc;
}
.login input{
    font-size:22px !important;
    color:#ccc;
    background-color: rgba(0,0,0,.6);
}
.login button{
    padding: 0px 4px;
}

/*Navigation*/
header nav ul li a{
    text-transform: uppercase;
    line-height: 110px;
    color: #555555;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0 !important;
}

.hide-on-med-and-down a:hover{
    border-bottom: 3px solid #424242 !important;
    background-color: #616161;
    color:white;
}

.brand-logo 
{
    color: #555555 !important;
    font-size: 38px !important;
    padding-left: 20px!important; 
    padding-top: 20px !important;
    font-family: 'Archivo Black', sans-serif;
}

nav
{
    height:100px !important;
}
.sidenav-trigger
{
    color: black !important;
    padding-top: 20px !important;
}
.sidenav li{
    margin-top: 25px !important;
}
a{
    color:white;
}
